<% layout("/layouts/boilerplate") -%>
<div class="row">
    <div class="col-8 offset-2">
    <br><br>
    <h3>Edit Your Listing</h3>
    <form method="POST" action="/listings/<%= listing.id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <lable for="title" class="form-label">Title</lable>
            <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
            <div class="valid-feedback">Title Looks Good!</div>
            <div class="invalid-feedback">oops! The title seems to be missing</div>
        </div>
        <br>
        <div class="mb-3">
            <lable for="description" class="form-label">Description</lable>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            <div class="valid-feedback">Description Looks Good!</div>
            <div class="invalid-feedback">Please enter a short and catchy description</div>
        </div>
        <br>
        <div class="mb-3">
            <img src="<%= originalImageUrl%>">
        </div>
        <div class="mb-3">
            <lable for="image" class="form-label">Upload New Image</lable>
            <input name="listing[image]" type="file" class="form-control">
        </div>
        <br>
        <div class="row">
            <div class="mb-3 col-md-4">
                <lable for="Price" class="form-label">Price</lable>
                <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
                <div class="valid-feedback">Price is Valid</div>
                <div class="invalid-feedback">Please enter a valid price</div>
            </div>
            <div class="mb-3 col-md-8">
                <lable for="country" class="form-label">Country</lable>
                <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required>
                <div class="valid-feedback">Thats a nice place!</div>
                <div class="invalid-feedback">Please enter a valid country</div>
            </div>
        </div>     
        <br>
        <div class="mb-3">
            <lable for="title" class="form-label">Title</lable>
            <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
            <div class="valid-feedback">Thats a lovely location</div>
            <div class="invalid-feedback">Please enter a valid location</div>
        </div>
        
        <br><br>
        <button class="btn btn-dark add-btn">Edit</button>
    </form>
    </div>
</div>
